@model Mvc_EF.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <div> 
        @Html.DisplayFor(c=>c.Id) 
        @Html.DisplayFor(c=>c.Nome) - 
        @Html.DisplayFor(c=>c.Tipo.Nome)
    </div>    

    @Html.ActionLink("Voltar", "Index", new { tipoId = Model.TipoId })
</body>
</html>
