@model IEnumerable<Mvc_EF.Models.Cliente>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Clientes</title>
</head>
<body>
    <div> 
        <h2>Lista de Clientes</h2>
        <ul>

            @foreach (var cli in Model)
            {
              <li>  @Html.ActionLink(cli.Nome, "Detalhes", new { id = cli.Id }) </li>
            }
            
        </ul>
    </div>
    @Html.ActionLink("Voltar", "Index", "TipoCliente")
</body>
</html>
